<aside class="col-3 border border-light bg-light p-2">
	<article class="card mb-3">
		<div class="card-header">
			Catégories
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_category_index') }}">Liste de Catégories</a>
			</p>
			<p>
				<a href="">Ajouter une catégorie</p>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Campagnes
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_campaign_index') }}">Liste de Campagnes</a>
			</p>
			<p>
				<a href="{{ path('admin_campaign_add') }}">Ajouter une campagne</p>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Utilisateurs
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_user_index') }}">Liste d'utilisateurs</a>
			</p>

			<p>
				<a href="{{ path('admin_user_add') }}">Ajouter un utilisateur</p>
			</p>
		</div>
	</article>
</aside>
