{{ form_start(registrationForm) }}
<fieldset class="mb-3">
	<legend>Mon identité</legend>
	{{ form_row(registrationForm.lastname) }}
	{{ form_row(registrationForm.firstname) }}
	{{ form_row(registrationForm.email) }}
</fieldset>

<fieldset class="mb-3">
	<legend>Mes coordonnées</legend>
	{{ form_row(registrationForm.address) }}
	{{ form_row(registrationForm.zipcode) }}
	{{ form_row(registrationForm.city) }}
</fieldset>

{#<fieldset class="mb-3">
	<legend>Rôle</legend>
	{{ form_row(registrationForm.roles) }}
</fieldset>#}

{{ form_row(registrationForm.password, {
                        label: 'Password'
                    }) }}
{{ form_row(registrationForm.RGPDConsent) }}

<button type="submit" class="btn btn-primary btn-lg my-3">Ajouter utilisateur</button>

{{ form_end(registrationForm) }}
