{% extends "base.html.twig" %}

{% block title %}liste d'utilisateurs
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row">
			{% include "_partials/_administration.html.twig" %}

			<h1>liste d'utilisateurs</h1>

			<table class="table">
				<thead>
					<tr>
						<td>id Utilisateur</td>
						<td>Prénom</td>
						<td>Nom</td>
						<td>Email</td>
						<!--<td>Role</td>-->
						<td>Vérifié</td>
						<td>Actions</td>

					</tr>
				</thead>

				{% for user in allUsers %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.email }}</td>
						<!--<td>
																			{#{% for role in user.roles %}
																				{% if role == "ROLE_ADMIN" %}
																					{% set name = "Admin" %}
																					{#{% set color = "danger" %}#}
																				{#{% elseif role == "ROLE_CAMPAIGN_ADMIN" %}
																					{% set name = "Admin Campaigne" %}
																					{#{% set color = "success" %}#}
																				{#{% else %}
																					{% set name = "Utilisateur" %}
																				{% endif %}
																				<span class="badge bg-secondary">{{ name }}</span>
																			{% endfor %}#}
																		</td>-->
						<td>
							<div class="form-check form-switch">
								<imput class="form-check-imput" type="checkbox" role="switch" id="switch{{ user.id }}" checked disable>
									<label class="formcheck-label" for="switch{{ user.id }}"></div>
								</td>
								<td>{{ user.isVerified }}</td>
								<td>
									<a class="btn btn-primary" href="#">Modifier</a>

								</td>

							</tr>
						{% endfor %}
					</tr>
				</table>

			</section>
		</main>

	{% endblock %}
