{{ form_start(campaignForm) }}
{{ form_row(campaignForm.name) }}
{{ form_row(campaignForm.description) }}
{{ form_row(campaignForm.category) }}
{{ form_row(campaignForm.price) }}
{{ form_row(campaignForm.stock) }}
<button type="submit" class="btn btn-primary">{{ button_label}}</button>
{{ form_end(campaignForm) }}
