{% extends "base.html.twig" %}

{% block title %}liste de Campagnes Webmarketing
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/_administration.html.twig" %}
			<main class="col-9 border border-light bg-white p-2">
				<h1>Liste des campagnes Webmarketing</h1>
				<table class="table">
					<thead>
						<tr>
							<td>id</td>
							<td>Campagne</td>
							<td>Description</td>
							<td>Prix/Jour</td>
							<td>Catégorie</td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody>
						{% for campaign in allCampaigns %}
							<tr>
								<td>{{ campaign.id }}</td>
								<td>{{ campaign.name }}</td>
								<td>{{ campaign.description }}</td>
								<td>{{ campaign.price }}</td>
								<td>{{ campaign.category.name }}</td>
								<!-- adding a button to each campaign -->
								<td>
									<a class="btn btn-primary btn-sm" href="{{ path('admin_campaign_edit', {id: campaign.id}) }}" role="button">Modifier</a>
									<a class="btn btn-primary" href="{{ path('admin_campaign_delete', {id: campaign.id}) }}" role="button">Effacer</a>
								</td>
								<!--<td>
																																																																																																																																																																																																																																																																																																												<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-6">
																																																																																																																																																																																																																																																																																																													<a href="{#{{ campaign.id }}" class="btn btn-primary my-2 btn-lg active" role="button" aria-pressed="true">Voir</a>
																																																																																																																																																																																																																																																																																																													<a href="{{ id:campaign.id }}#}" class="btn btn-primary my-2">Modifier</a>
																																																																																																																																																																																																																																																																																																			
																																																																																																																																																																																																																																																																																																												</div>
																																																																																																																																																																																																																																																																																																			
																																																																																																																																																																																																																																																																																																											</td>-->
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}
