{% extends 'base.html.twig' %}

{% block title %}Liste de catégories
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/_administration.html.twig" %}
			<main class="col-9 border border-light bg-white p-2">
				<h1>Liste de catégories</h1>
				<table class="table">
					<thead>
						<tr>
							<td>id</td>
							<td>Name</td>
							<td>Parent</td>
							<td>Slug</td>
							<td>Ordre</td>
						</tr>
					</thead>
					<tbody>
						{% for category in allCategories %}
							<tr>
								<td>{{ category.id }}</td>
								<td>{{ category.name }}</td>
								<td>
									{% if category.parent is not null %}
										{{ category.parent.name }}
									{% endif %}
								</td>
								<td>{{ category.slug }}</td>
								<td>{{ category.categoryOrder }}</td>
							</tr>
						{% endfor %}
					</tbody>

					<!-- adding a button to each category -->

				</table>
			</main>
		</div>
	</div>
{% endblock %}
